@import "tailwindcss";

:root {
  --black1: #121212;
  --black2: #1E1E1E;
  --black3: #2A2A2A;
  --white: #FFFFFF;
  --white2: #B3B3B3;
  --blue1: #1E90FF;
  --blue2: #187bcd;
}

body{
  background-color: var(--black1);
  color: var(--white);
}

@keyframes slideUp{
  from{
    opacity: .5;
    transform: translateY(100px);
  }
  to{
    opacity: 1;
    transform: translateY(0px);
  }
}
.slideUp{
  animation: slideUp 150ms linear;
  transition: all 150ms linear;
}

@keyframes slideDown{
  from{
    opacity: .5;
    transform: translateY(-100px);
  }
  to{
    opacity: 1;
    transform: translateY(0px);
  }
}
.slideDown{
  animation: slideDown 150ms linear;
  transition: all 150ms linear;
}
/* Untuk browser berbasis WebKit (Chrome, Edge, Safari) */
::-webkit-scrollbar {
  width: 8px;               /* Lebar vertikal */
  height: 8px;              /* Tinggi horizontal */
}

::-webkit-scrollbar-track {
  background: #1e1e1e;      /* Warna latar track */
}

::-webkit-scrollbar-thumb {
  background-color: #888;   /* Warna thumb */
  border-radius: 10px;      /* Lengkung */
  border: 2px solid #1e1e1e; /* Ruang di sekitar thumb */
}

::-webkit-scrollbar-thumb:hover {
  background-color: #555;   /* Warna saat hover */
}
